@import "tailwindcss";
/*update theme to better reflect a dieting app*/
:root {
  --primary: #2f855a;
  --primary-light: #c6f6d5;
  --primary-bg: #f0fff4;
  --card-bg: #ffffff;
  --text-primary: #1a202c;
  --text-secondary: #4a5568;
}


:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
